{% extends "base.html" %}
{% load static %}
{% block content1 %}
<center>
    <h1 style="color: white; font-size: 2.5rem; margin-bottom: 20px;">My Certifications</h1>
</center><br>
<div class="row">
    <a class="jumbtron jumbtron-fluid mt-2" target="_blank" href="https://www.credly.com/badges/364a83b1-feae-4a1c-addd-f84f94af7476/linked_in_profile">
        <h4 class="display4">RHCSA : Red Hat Certified System Administrator</h4>
    </a>

    <a class="jumbtron jumbtron-fluid mt-2" target="_blank" href="https://internalapp.nptel.ac.in/noc/Ecertificate/?q=NPTEL23CS49S1323099004126728">
        <h1 class="display4"> Programming in java : NPTEL</h1>
    </a>


    <a class="jumbtron jumbtron-fluid mt-2" target="_blank" href="">
        <h1 class="display4"> Power BI : SimpliLearn</h1>
    </a>


    <a class="jumbtron jumbtron-fluid mt-2" target="_blank" href="https://www.linkedin.com/learning/certificates/67088677271e7bc93cb7a5b338c9a6b8d5f343b0e234deb812ec65721b95ca00">
        <h1 class="display4"> Career Essentials in Generative AI : Microsoft</h1>
    </a>

    <a class="jumbtron jumbtron-fluid mt-2" target="_blank" href="images/about.png">
        <h1 class="display4">  Selenium : SimpliLearn</h1>
    </a>

</div>


{% endblock content1 %}