{% extends "base.html" %}
{% load static %}
{% block content1 %}
<center>
    <h1 style="color: white; font-size: 2.5rem; margin-bottom: 20px;">My Projects</h1>
</center><br>
<div class="row my-2">
    {% for project in projects_show %}
    <div class="col-6">
        <center><h4 class="text-light">{{ project.title }}</h4></center>
        <a href="{{ project.github_url }}" target="_blank">
            <img src="{% static project.path %}" width="520" height="400" class="img-fluid" alt="{{ project.title }}">
        </a><br>
    </div>
    {% endfor %}
</div>

{% endblock content1 %}
